<% include ./partials/header%>
<div class="card">
        <h5 class="card-header"><%= user.firstName%> <%= user.lastName%></h5>
        <div class="card-body">
          <h5 class="card-title">+<%= user.areaCode%>-<%= user.phoneNo%></h5>
          <p class="card-text"><%= user.email%></p>
          <p class="card-text"><%= user.city%>,<%= user.country%></p>
          <a href="/contacts/<%= user._id %>/sendMessage" class="btn btn-primary btn-sm">Send OTP</a>
          <a href="/contacts/<%= user._id %>/edit" class="btn btn-success btn-sm">Edit</a>
          <br>
          <br>
              <form class="delete-form" method="POST" action="/contacts/<%= user._id %>?_method=DELETE">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
          
          
        </div>
      </div>

<% include ./partials/footer%>